body {
  background-size: 40px 40px;

  background-image: repeating-linear-gradient(
      0deg,
      #6d85b6,
      #75a3ff 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      -90deg,
      #6d85b6,
      #75a3ff 1px,
      transparent 1px,
      transparent 40px
    );

  background-attachment: fixed;

  min-height: 100vh;
  margin: 0;

  scroll-behavior: smooth;
  background-color: #75a3ff;
}

#content-container {
  position: relative;
  z-index: 1; /* Ensures content is above the background */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: white;
}

.panel {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 60vh;
}

.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lora-serif {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#intro {
  margin-bottom: 40vh;
  padding-top: 15vh;
}

h1 {
  margin-bottom: 0px;
  align-items: center;
  flex-shrink: 1;
}

h2,
p {
  color: white;
  font-family: "Lora", serif;
  font-size: 40px;
  margin: 0px;
  font-weight: 400;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.typewriter-text1 {
  overflow: hidden; /* Hides text beyond the current width */
  white-space: nowrap; /* Prevents text from wrapping */
  width: 0; /* Starts with zero width */
  border-right: 2px solid #ffffff; /* Cursor style */
  animation: typing1 2s steps(40, end) forwards,
    blink-caret 1s step-end alternate;
  animation-fill-mode: forwards;
}

.typewriter-text2 {
  overflow: hidden; /* Hides text beyond the current width */
  white-space: nowrap; /* Prevents text from wrapping */
  width: 0; /* Starts with zero width */
  border-right: 2px solid #ffffff; /* Cursor style */
  animation: typing2 2s steps(40, end) forwards,
    blink-caret 1s step-end alternate;
  animation-fill-mode: forwards;
}

@keyframes typing1 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  } /* Or a specific width like 9em */
}

@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 30%;
  } /* Or a specific width like 9em */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff;
  } /* Or desired cursor color */
}

.subheader {
  margin-top: 0px;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
  animation-delay: 1s;
}

.author {
  margin-top: 10px;
  font-size: 24px;
  animation-delay: 3s;
  text-align: center;
}

#wageHousing {
  padding-left: 50px;
  padding-right: 60px;
}

#unemploymentRates {
  padding-left: 50px;
  padding-right: 60px;
}

#debtLevels {
  padding-left: 50px;
  padding-right: 60px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.chart-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Lora", serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 30px;
  fill: rgba(121, 207, 255, 0.2);
  stroke-width: 1px;
  stroke: #92c4ff;
  box-shadow: 0 0 20px 0 #c9ebff85 inset;
  backdrop-filter: blur(10px);
}

.chart-overlay p {
  margin: 10px 0;
  opacity: 0.9;
  font-size: 15px;
}

.glass {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  
  color: white;
  font-family: "Lora", serif;
  padding: 50px;
  max-width: 1200px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border-radius: 30px;
  fill: rgba(121, 207, 255, 0.2);
  stroke-width: 1px;
  stroke: #92c4ff;
  box-shadow: 0 0 20px 0 #c9ebff85 inset;
  backdrop-filter: blur(2px);
}

.glass p {
  font-size: 1.2em; 
  line-height: 1.5em; 
  margin-top: 20px;
}